Repository 13lackHawk/space-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: UI, Changes: Localization, Changes: Map, Changes: Sprites, Changes: Prototypes

.github/labeler.yml:

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Prototypes":
- 'Resources/Prototypes/**/*.yml'

"С#":
- all: ["**/*.cs"]

"No C#":
- all: ["!**/*.cs"]

Update lockers.yml
  Resources/Prototypes/FacetsUniverse/Structures/Storages/lockers/lockers.yml
Labels: Changes: Prototypes

Update departments.yml
  Resources/Prototypes/Roles/Jobs/departments.yml
Labels: Changes: Prototypes

Update pda.yml
  Resources/Prototypes/FacetsUniverse/Entities/pda_id/pda.yml
Labels: Changes: Prototypes

Delete Resources/Textures/Objects/Devices/pda.rsi/pda-hodsp.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-hodsp.png
Labels: Changes: Sprites

Delete Resources/Textures/Objects/Devices/pda.rsi/pda-dsp.png
  Resources/Textures/Objects/Devices/pda.rsi/pda-dsp.png
Labels: Changes: Sprites

Update meta.json
  Resources/Textures/Objects/Devices/pda.rsi/meta.json
Labels: none

Add files via upload
  Resources/Textures/Objects/Devices/pda.rsi/pda-dsp.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/HoNTP_door.png
  Resources/Textures/Structures/Storage/closet.rsi/HoNTP_door.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/NTP.png
  Resources/Textures/Structures/Storage/closet.rsi/NTP.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/NTP_door.png
  Resources/Textures/Structures/Storage/closet.rsi/NTP_door.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/NTP_open.png
  Resources/Textures/Structures/Storage/closet.rsi/NTP_open.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/OBS.png
  Resources/Textures/Structures/Storage/closet.rsi/OBS.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/OBS_door.png
  Resources/Textures/Structures/Storage/closet.rsi/OBS_door.png
Labels: Changes: Sprites

Delete Resources/Textures/Structures/Storage/closet.rsi/OBS_open.png
  Resources/Textures/Structures/Storage/closet.rsi/OBS_open.png
Labels: Changes: Sprites

Add files via upload
  Resources/Textures/Structures/Storage/closet.rsi/obs.png
  Resources/Textures/Structures/Storage/closet.rsi/obs_door.png
  Resources/Textures/Structures/Storage/closet.rsi/obs_open.png
Labels: Changes: Sprites

Update meta.json
  Resources/Textures/Structures/Storage/closet.rsi/meta.json
Labels: none

Update pda.yml
  Resources/Prototypes/FacetsUniverse/Entities/pda_id/pda.yml
Labels: Changes: Prototypes

Update lockers.yml
  Resources/Prototypes/FacetsUniverse/Structures/Storages/lockers/lockers.yml
Labels: Changes: Prototypes

Update lockers.yml
  Resources/Prototypes/FacetsUniverse/Structures/Storages/lockers/lockers.yml
Labels: Changes: Prototypes

Update windoor.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/windoor.yml
Labels: Changes: Prototypes

Update airlocks.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/airlocks.yml
Labels: Changes: Prototypes

Update access.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/access.yml
Labels: Changes: Prototypes

Update windoor.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/windoor.yml
Labels: Changes: Prototypes

Update fillscabinet.yml
  Resources/Prototypes/FacetsUniverse/fillscabinet.yml
Labels: Changes: Prototypes

Update access.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/access.yml
Labels: Changes: Prototypes

Update airlocks.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/airlocks.yml
Labels: Changes: Prototypes

Update access.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/access.yml
Labels: Changes: Prototypes

Add files via upload
  Resources/Audio/FaceitUniverse/Voices-Of-The-Void.torrent
Labels: none

Delete Resources/Audio/FaceitUniverse/Voices-Of-The-Void.torrent
  Resources/Audio/FaceitUniverse/Voices-Of-The-Void.torrent
Labels: none

Add files via upload
  Resources/Audio/FaceitUniverse/Voices-Of-The-Void.torrent
Labels: none

Add files via upload
  Resources/Audio/FaceitUniverse/korotkiy-rezkiy-zvuk-perelistyivaniya-stranitsyi.ogg
Labels: none

Delete Resources/Audio/FaceitUniverse/Voices-Of-The-Void.torrent
  Resources/Audio/FaceitUniverse/Voices-Of-The-Void.torrent
Labels: none

Rename korotkiy-rezkiy-zvuk-perelistyivaniya-stranitsyi.ogg to paper.ogg
  Resources/Audio/FaceitUniverse/paper.ogg
Labels: none

Update lockers.yml
  Resources/Prototypes/FacetsUniverse/Structures/Storages/lockers/lockers.yml
Labels: Changes: Prototypes

Update default.yml
  Resources/Prototypes/Maps/Pools/default.yml
Labels: Changes: Prototypes

Delete Resources/Maps/box.yml
  Resources/Maps/box.yml
Labels: Changes: Map

Delete Resources/Maps/cluster.yml
  Resources/Maps/cluster.yml
Labels: Changes: Map

Add files via upload
  Resources/Maps/box.yml
  Resources/Maps/cluster.yml
Labels: Changes: Map

Update delta.yml
  Resources/Prototypes/Corvax/Maps/delta.yml
Labels: Changes: Prototypes

Add files via upload
  Resources/Prototypes/FacetsUniverse/faceituniverse.yml
Labels: Changes: Prototypes
