Repository 13lackHawk/space-station-14, changes with the labels that .github/labeler.yml gives for each.
All labels: Changes: UI, Changes: Localization, Changes: Map, Changes: Sprites, Changes: Prototypes

.github/labeler.yml:

"Changes: UI":
- '**/*.xaml*'

"Changes: Localization":
- 'Resources/Locale/**/*.ftl'

"Changes: Map":
- 'Resources/Maps/*.yml'
- 'Resources/Prototypes/Maps/*.yml'

"Changes: Sprites":
- '**/*.rsi/*.png'

"Changes: Prototypes":
- 'Resources/Prototypes/**/*.yml'

"С#":
- all: ["**/*.cs"]

"No C#":
- all: ["!**/*.cs"]

Add files via upload
  Resources/Maps/FaceitUniverse/Prisons/NTPdeepspace_Kotya.yml
  Resources/Maps/FaceitUniverse/Prisons/NTPdeepspace_Mr_I.yml
Labels: none

Update box.yml
  Resources/Prototypes/Maps/box.yml
Labels: Changes: Map, Changes: Prototypes

Update cluster.yml
  Resources/Prototypes/Maps/cluster.yml
Labels: Changes: Map, Changes: Prototypes

mega realistick sandvich
  Resources/Prototypes/Andromeda/Lemird Prototype's/megaburger.yml
  Resources/Textures/Andromeda/Lemird/hypersandwich.rsi/meta.json
Labels: Changes: Prototypes

fix megasandvich localization
  Resources/Prototypes/Andromeda/Lemird Prototype's/megasandvich.yml
Labels: Changes: Prototypes

metal pipe sound when body falls
  Resources/Audio/Andromeda/Lemird/Misc/metalpipefalling.ogg
  Resources/Prototypes/SoundCollections/body_fall.yml
Labels: Changes: Prototypes

FULL FIX SINDICATE SPONSOR
  Content.Server/Antag/AntagSelectionSystem.cs
  Content.Server/GameTicking/Rules/NukeopsRuleSystem.cs
  Content.Server/GameTicking/Rules/ThiefRuleSystem.cs
  Content.Server/GameTicking/Rules/TraitorRuleSystem.cs
Labels: none

full fix antag for sponsor
  Content.Server/Antag/AntagSelectionSystem.cs
Labels: none

Update stealTargetGroups.yml
  Resources/Prototypes/FacetsUniverse/stealTargetGroups.yml
Labels: Changes: Prototypes

Update job_icons.yml
  Resources/Prototypes/FacetsUniverse/job_icons.yml
Labels: Changes: Prototypes

Update faceituniverse.yml
  Resources/Prototypes/FacetsUniverse/faceituniverse.yml
Labels: Changes: Prototypes

Update access.yml
  Resources/Prototypes/FacetsUniverse/Structures/Doors/access.yml
Labels: Changes: Prototypes

Update headsets.yml
  Resources/Prototypes/FacetsUniverse/Entities/Clothing/Ears/headsets.yml
Labels: Changes: Prototypes

Update hats.yml
  Resources/Prototypes/FacetsUniverse/Entities/Clothing/Head/hats.yml
Labels: Changes: Prototypes

Update secret_documents.yml
  Resources/Prototypes/FacetsUniverse/Entities/Misc/secret_documents.yml
Labels: Changes: Prototypes

Update stamps.yml
  Resources/Prototypes/FacetsUniverse/Entities/Misc/stamps.yml
Labels: Changes: Prototypes

Update Luis.yml
  Resources/Prototypes/FacetsUniverse/Entities/Toys/Luis.yml
Labels: Changes: Prototypes

Update id_cards.yml
  Resources/Prototypes/FacetsUniverse/Entities/pda_id/id_cards.yml
Labels: Changes: Prototypes

Update pda.yml
  Resources/Prototypes/FacetsUniverse/Entities/pda_id/pda.yml
Labels: Changes: Prototypes

100% work
  Content.Server/Andromeda/Fatigue/FatigueSystem.cs
  Content.Shared/Andromeda/Fatigue/FatigueComponent.cs
  Resources/Prototypes/Andromeda/Lemird Prototype's/sleepactions.yml
  Resources/Textures/Andromeda/Lemird/sleepactions.cs/meta.json
  Resources/Textures/Andromeda/Lemird/sleepactions.cs/sleep_sit.png
Labels: Changes: Prototypes

Update fatigue system in normal
  Content.Server/Andromeda/Fatigue/FatigueSystem.cs
  Resources/Prototypes/Andromeda/Lemird Prototype's/sleepactions.yml
Labels: Changes: Prototypes

smol tweaks
  Resources/Locale/ru-RU/corvax/station-goal/station-goal-component.ftl
  Resources/Prototypes/Andromeda/Valikzant Prototypes/PenPlus/Pens/penplus.yml
  Resources/Prototypes/Corvax/Maps/silly.yml
Labels: Changes: Localization, Changes: Prototypes
